@media (prefers-color-scheme: light) {
  :root {
    --return-trans-delay: 0.2s;
    --return-trans-dur: 1s;
    --return-trans-tf: cubic-bezier(.8,0,.2,1);
  
    --hover-transition: 0.3s all ease-in-out;
    
    /*TODO Convert to HEX!*/
    --main: #0000000d;
    --aux: black;
    --highlight-background: #606060;

    --accent1: #fca903;
    --accent2: #0356fc;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --return-trans-delay: 0.2s;
    --return-trans-dur: 1s;
    --return-trans-tf: cubic-bezier(.8,0,.2,1);
  
    --hover-transition: 0.3s all ease-in-out;
    
    --main: #202124;
    --aux: white;
    --highlight-background: #a8a8a8;

    --accent1: #fca903;
    --accent2: #0033FF;
  }
}

/* Makes it so clicking links to elements smoothly scrolls to them instead of teleporting. */
@media (prefers-reduced-motion: no-preference) {
  * {
    /* See if it's possible to change the timing function here, optimally a nice cubic bezier like the one used in .return-animation :) */
    scroll-behavior: smooth;
  }
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  scrollbar-width: none;
  box-sizing: border-box;
  background: var(--main);
  color: var(--aux);
  
  cursor: none;
}

body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  cursor: none;
  text-decoration: none;
  color: var(--aux);
}

.noselect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.hidden {
  visibility: hidden;
}

/* Bar Navigation */
#scroll-indicator {
  position: fixed;
  transform: rotate(90deg);
  margin: 0;
  opacity: 0.8;

  font-family: 'Comfortaa', 'Arial';
  font-size: 1.2rem;

  display: flex;
  align-items: center;

  transition-property: bottom;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(1,-0.32,0,1);
}

.line {
  height: 0.2rem;
  width: 3rem;
  background: var(--aux);
  border-radius: 3px;
  margin: 0.5rem;
}

#progress-bar {
  position: fixed;
  z-index: 3;

  transition: opacity 0.2s ease-in-out;
}

.page-bar {
  display: flex;
  align-items: center;
  padding: 10px;
  transition-property: visibility;
}

.bar-img {
  height: 3px;
  width: 25px;

  background: var(--aux);

  border-radius: 3px;

  transition-property: height, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.page-bar:hover > .bar-img {
  height: 4px;
  width: 40px;
}

.bar-img-focused {
  height: 4px;
  width: 40px;
}


/* Cursor css */
.cursor {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  mix-blend-mode: difference;
}

.cur-circle {
  fill: #fff;
}

/* Classes for page sections */
.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  max-width: 1300px;
  height: 100vh;
}

.section-title {
  display: block;
}

/* Class for element return transition */
.return-transition {
  transition-delay: var(--return-trans-delay);
  transition-duration: var(--return-trans-dur);
  transition-timing-function: var(--return-trans-tf);
}

/* Title page */
#intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 20px 0 20px 0;
  transition-property: border-radius;
}

#intro:hover {
  border-radius: 0 20px 0 20px;
  transition: 0.3s all ease-in-out;
}

#theme-indicator {
  position: absolute;
  transform: translateX(0.2rem) translateY(-2.3rem);
  opacity: 0.5;

  font-family: 'Comfortaa', "Arial";
}

#pfp {
  aspect-ratio: 1/1;

  height: 200px;
  border-radius: 10% 0 10% 0;
  border: 2px solid white;

  transition-property: border-radius;
  mix-blend-mode: difference;
}

#intro:hover #pfp {
  border-radius: 0 10% 0 10%;

  transition: 0.3s all ease-in-out;
}

#signature {
  height: 100%;
  max-height: 204px;

  padding-left: 20px;
  padding-right: 10px;

  border-radius: 0 0 20px 0;

  transition-property: border-radius;
}

#intro:hover #signature {
  border-radius: 0 20px 0 0;
  transition: 0.3s all ease-in-out;
}

#name {
  font-family: 'Poiret One', "Tahoma";
  font-size: 50px;
  margin: 0;
}

.border-left {
  margin: 0;

  border-left: 2px solid var(--aux);
  padding-left: 0.5rem;
  margin-left: 0.2rem;
}
.sign-desc {
  font-size: 28px;
  font-family: 'Comfortaa', 'Arial';
  font-weight: 300;
}

#address {
  font-size: 20px;
  font-family: 'Comfortaa', 'Arial';
  font-weight: 300;

  margin: 20px 0 0 0;
}

/* About Page */
#about-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
}

#about-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: (left, position) 0.2s ease-in-out;
}

#about-title > h1 {
  font-size: 3rem;
  font-family: 'Poiret One', 'Tahoma';
  margin: 0;
}

#about-title > a {
  display: inline-block;

  padding: 1rem;
  margin-top: 1rem;
  border-radius: 2rem;

  font-family: 'Comfortaa','Arial';

  background-color: var(--aux);
  color: var(--main);

  transition: font-size 0.01s linear;
}

#about-title >a:active:hover {
  font-size: 0.95rem;
}

.showcase {
  height: 85%;
  width: 70%;
  overflow: hidden;

  background: url('assets/rockframe.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#about-content {
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 4;

  height: 100vh;
  width: 100vw;

  transition-property: left, right, opacity;
  transition: 1s cubic-bezier(.8,0,.2,1);

  background: var(--main);
  opacity: 0;

  display: flex;
  justify-content: center;
}

.page-body {
  height: 100vh;
  width: 60vw;
}

#exitButton {
  position: absolute;
  display: inline-block;
  height: 2rem;
  aspect-ratio: 1/1;
  
  background-color: var(--aux);
  border-radius: 25%;

  margin: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

#exitButton > img {
  mix-blend-mode: multiply;
  height: 1rem;
  width: 1rem;
}

/* Contact Page */
#contact-page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

#contact-details {
  z-index: 2;
}

#contact-details > h1 {
  font-size: 3rem;
  font-family: 'Poiret One', 'Tahoma';
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 0;
}

.contact-link {
  font-family: 'Comfortaa', 'Arial';
  font-size: 1.5rem;

  display: flex;
  align-items: center;

  margin: 5px;
}

.icon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0;
  margin-left: 0;
}

.icon {
  height: 3rem;
  padding: 5px;
  margin-left: 0;

  transition-property: height, margin-top;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

/* Adds basic effects to beautified text, might expand it later */
.beautify {
  transition-property: color;
  transition-duration: 1s;
}

.beautify:hover {
  color: var(--accent1);

  transition-property: color, text-shadow;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}

/*Keep this in to eliminate the flash of unstyled content, check <head> for more.*/
html {
  visibility: visible;
  opacity: 1;
}
